<div class="container-fluid text-center pb-5">
  <div style="text-align:center">
    <h1>
      Postings
    </h1>
  </div>
</div>


<div class="container-fluid pb-5">
  <div class="row mb-3">
    <div class="col text-right">
      <button type="button" class="btn btn-primary">Create New Post</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Post Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td><a href="/posts">{{ post.title }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>